body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  display: block;
  margin: 10px 0;
  padding: 0.5rem;
  width: 100%;
}

button {
  background: #4e73df;
  color: white;
  border: none;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
}

a {
  color: #4e73df;
  text-decoration: none;
}

.navbar {
  background-color: #2E236C;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #433D8B;
}

.nav-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #C8ACD6;
  text-align: center;
  flex: 1;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links button {
  background-color: #433D8B;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.nav-links button:hover {
  background-color: #5c4eb3;
}


.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #433D8B;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.expense-item button {
  background: none;
  border: none;
  color: #ff9999;
  font-size: 1.2rem;
  cursor: pointer;
}
